Options -indexes
RewriteEngine On
RewriteBase /delicious/
RewriteRule ^news$ index.php?page=news [NC]
RewriteRule ^about$ index.php?page=about [NC]
RewriteRule ^dishMonth$ index.php?page=dishMonth [NC]
RewriteRule ^products$ index.php?page=products [NC]
RewriteRule ^products-detail/(.*)$ index.php?page=products-detail&seflink=$1 [NC]
RewriteRule ^news-detail/(.*)$ index.php?page=news-detail&seflink=$1 [NC]
RewriteRule ^contact$ index.php?page=contact [NC]